{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
        $(document).ready(myfunc);

        function myfunc(){
          $("#change").click(function(event) {
            curr = $('#currentpass').val();
            pass1 = $('#pwd1').val();
            pass2 = $('#pwd2').val();



        var url = $SCRIPT_ROOT + '/changepass'

        $.getJSON(url,
        {
          curr:curr,
          pass1:pass1,
          pass2:pass2
        },
        function(data){
          console.log(data.flag)

          if(data.flag==1)
          {
            // $('<p>Passwords do not match</p>').appendTo('#err');
            $(".err").html('Passwords do not match')
            $(".err").css('color','red');
          }
          else if(data.flag==2)
          {
            $(".err").html('Current password is not correct')
            $(".err").css('color','red');
            // $('<p></p>').appendTo('#err');
          }
          else if(data.flag==0)
          {
            $(".err").html('Password Updated Successfully')
            $(".err").css('color','green');
            // $('<p></p>').appendTo('#err');
          }


        }
        );


      });
        }




      });


</script>

<style type="text/css">
.form-control{
	width: 30%;
}
</style>
{% endblock script %}


{% block contents %}

<div class="container">
  <h2>My Account</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2"><h4><b>Username:</b></h4></label>
      <div class="col-sm-10" style="padding-top:0.45vw;">
        <h4>{{ username }}</h4>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"><h4><b>Email:</b></h4></label>
      <div class="col-sm-10" style="padding-top:0.45vw;">          
        <h4>{{ user_email }}</h4>
      </div>
    </div>
   </form>
</div><br><br>

<div class="container">
  <h2>Change Password</h2>
  <form class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2">Current Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="currentpass" placeholder="Current Password" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">New Password</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="pwd">
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2" >Confirm Password</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd2" placeholder="Enter password" name="pwd">
      </div>
    </div>
    <div class="err"></div>
    <div style="margin-left:10.5vw"><button type="button" class="btn btn-primary" id="change">Change Password</button></div>
  </form>
</div>
<br><br>

<div class="container">
  <p><h2>Quizes Attempted</h2></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Quiz</th>
        <th>Score</th>
      </tr>
    </thead>
    {% for i in to_sent %}
    	{% for j in to_sent[i] %}
    		{% for k in to_sent[i][j] %}
    <tbody>
    			{% if attempt[k.id] %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
        <td>{{ k }}</td>
        <td>{{ to_sent[i][j][k][0] }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endfor %}
     </tbody>
  </table>
</div>




{% endblock contents %}